WEBUI_SECRET_KEY=change-me
POSTGRES_DB=laia
POSTGRES_USER=laia
POSTGRES_PASSWORD=change-me
N8N_HOST=macmini.local
WEBHOOK_URL=http://macmini.local/n8n/
N8N_ENCRYPTION_KEY=change-me
PAPERLESS_SECRET_KEY=change-me
PAPERLESS_URL=http://macmini.local/docs/
HOMEPAGE_ALLOWED_HOSTS=localhost,127.0.0.1,macmini.local